
.logo {
  background-color: $black;
  border-radius: 4px;
  padding: 5px;
  height: 58px;    
  text-align: center;
  box-sizing: border-box;
  border:1px solid $black; 
  min-width: 70px;
  
  img {
    height: 100%; 
  }
  
}

@media (max-width: 995px) {
  .logo {
    margin-bottom: 10px;
    width: 70px;
    
    &-wrap {
      width: 100px;
    }
  } 
}
