.navbar {
	background-image: linear-gradient(to bottom, #f7f7f7 0%,#eee 100%);
	border: 1px solid #e5e5e5;
  .mdi {
    font-size: 25px;
  }

  .nav {
    a {
      color: rgba(0,0,0,.5) !important;
      transition: color 0.2s;
      &:hover {
        background: none;
        color: rgba(0,0,0,1) !important;
      }
    }
    li.active {
      a {
        color: rgba(0,0,0,1) !important;
      }
    }


  }
}

@media (max-width: 995px) {
  .navbar {
    &-wrap {
      width: calc(100% - 250px); 
    }
  } 
}

@media (max-width: 376px) {
  .navbar {
    width: calc(100vw - 130px);
    
    &-naw {
      margin-right: 5px;
    }
    
    &-wrap {
      width: 120px;
    }
  } 
}
